* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#root > div {
  position: absolute;
  width: 100vw;
  height: 100%;
  will-change: transform;
}

#root > div > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.circle{
  width: 30vh;
  height: 30vh;
  background-color: white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
  border-color: none;
  margin: 2vw;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
}

.circle:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,1);
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.lowered{
  margin-top: 10vh;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #F6F6F7;
  margin-top: -3vh
}

.dropDownBox{
  width:80%;
  margin-bottom:2%;
  background-color:#F6F6F7;
  box-shadow: 0 62.5px 125px -5px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.close{
  margin:2%;
  height:3vh;
  width:3vh;
}


.close:hover{
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.seeThroughBox{
  background-color:rgba(255,255,255,0.95);
  padding:3vh;
  border-radius: 1vh;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,1);
}

.hand{
  width:15vh;
  height:15vh;
}

.swipe{
  margin: 2vw;
  color: white;
  background-size: contain;
  animation-name: spop;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-direction: alternate;
  user-select: none; /* Standard */
}

.swipe.left{
  animation-name: spopLeft;
}

@keyframes spop {
  0% {
    opacity: 0;
  }
  70%{
    transform: translate(0vw,-1vh) rotate(1deg);
    opacity: 0;
  }

  100% {
    transform: translate(-3.5vw,1vh) rotate(-3deg);
    opacity: 1;
  }
}

@keyframes spopLeft {
  0% {
    opacity: 0;
  }
  70%{
    transform: translate(0vw,-1vh) rotate(-1deg);
    opacity: 0;
  }

  100% {
    transform: translate(3.5vw,1vh) rotate(3deg);
    opacity: 1;
  }
}

.divBase{
  margin:7.5vh;
  margin-top: 15vh;
}

.divBase img{
  margin-top: 2vh;
  max-width:100%;
  max-height: 50vh;
  border-radius: 1vh;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,1);
}

.dropText{
  margin:2%;
}

.buttonRow{
  margin-top: 5vh;
}

.middle{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.accordion{
  margin-top: 3vh;
  width:92%;
}

.accordion img{
  margin:0;
  height: 20vh;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0);
}

#socialLinks{
  margin-top: -1vh;
  width:50px;
  height:50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#socialLinks:hover{
  filter: invert(19%) sepia(0%) saturate(3242%) hue-rotate(305deg) brightness(60%) contrast(86%);
  cursor: pointer;
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-direction: alternate;
}

.iconContainer{
  height:2.5vw;
  margin: 0.5vw;
}

.iconFade{
  opacity:0;
  border-radius: 8% !important;
  max-height: 100% !important;
  align-self: center;
  margin: auto;
  animation-name: iconAnimation;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  user-select: none; /* Standard */
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@keyframes iconAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
